<html><head>
<meta charset="utf-8">
<title>King James Version of the Bible</title>
<meta content="width=device-width" name="viewport">
<!-- BEGIN CSS COMPRESS -->
<link href="./static/themes/default/css/codemirror.css" rel="stylesheet">
<link href="./static/themes/default/css/highlight.css" rel="stylesheet">
<link href="./static/themes/default/css/itranswarp.css" rel="stylesheet">
<link href="./static/themes/default/css/yue.css" rel="stylesheet">

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?f4d7ef09c3e69d0b50ab082c8fb55a7c";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

<!-- END CSS COMPRESS -->
<!--[if lt IE 9]>
<link rel="stylesheet" href="./static/themes/default/css/ie.css" />
<![endif]-->

<script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="js/angular.js"></script>
<script type="text/javascript" src="static/js/underscore.js"></script>
<script type="text/javascript" src="static/themes/default/js/all.js"></script>


<body ng-app="app" ng-controller="ctrl">
<div id="BAIDU_DUP_fp_wrapper" style="position: absolute; left: -1px; bottom: -1px; z-index: 0; width: 0px; height: 0px; overflow: hidden; visibility: hidden; display: none;">
	<iframe id="BAIDU_DUP_fp_iframe" src="//pos.baidu.com/wh/o.htm?ltr=" style="width: 0px; height: 0px; visibility: hidden; display: none;">
	</iframe>
</div>


<div class="uk-navbar uk-navbar-attached" id="header">
    <div class="uk-container x-container">
        <div class="uk-navbar uk-navbar-attached">

            <ul class="uk-navbar-nav uk-visible-small">
                <li><a onclick="UIkit.offcanvas.show('#x-offcanvas-left')" href="#0">&nbsp;<i class="uk-icon-chevron-right"></i></a></li>
            </ul>

            <a class="uk-navbar-brand uk-visible-large" href="http://kjv.baoguoding.com/">钦定版圣经（King James Version of the Bible，简称KJV）</a>
            <a class="uk-navbar-brand uk-hidden-large" href="http://kjv.baoguoding.com/"><i class="uk-icon-home"></i></a>
        </div>
    </div>
</div><!-- // header -->

<div id="main">
<div class="x-placeholder-50"><!-- placeholder --></div>
<div class="x-placeholder"><!-- placeholder --></div>
<div class="uk-container x-container">
<div class="uk-grid">
    <div class="x-body-before uk-width-1-1">

    </div>
</div>
<div class="uk-grid">
<div class="uk-width-1-1">

<div class="x-sidebar-left">
    <div class="x-sidebar-left-top">
    </div>
    <div class="x-sidebar-left-content">

        <ul class="uk-nav uk-nav-side">
            <li class="uk-nav-header">旧约(Old Testament)</li>
        </ul>
        
        <ul style="margin-right:-15px;" class="uk-nav uk-nav-side">
	        <ANY ng-repeat="book in oldTestament" >
	            <li id="{{book.id}}" class="button">
	                <a href="javascript:void(0);">{{book.name}}</a>
	            </li>
	            <li class="dropdown">
	                <ul>
	                    <li  ng-repeat="chapter in book.chapters" style="margin-left:1em;" id="{{chapter.value}}"  >
	                        <a href="javascript:void(0);"  ng-click="retrieve(chapter.value);">{{chapter.name}}</a>
	                    </li>
	                </ul>
	            </li>
	        </ANY>
		</ul>
		
        <ul class="uk-nav uk-nav-side">
            <li class="uk-nav-header">新约(New Testament)</li>
        </ul>
        <ul style="margin-right:-15px;" class="uk-nav uk-nav-side">
	        <ANY ng-repeat="book1 in newTestament" >
	            <li id="{{book1.id}}" class="button">
	                <a href="javascript:void(0);">{{book1.name}}</a>
	            </li>
	            <li class="dropdown">
	                <ul>
	                    <li  ng-repeat="chapter1 in book1.chapters" style="margin-left:1em;" id="{{chapter1.value}}"  >
	                        <a href="javascript:void(0);"  ng-click="retrieve(chapter1.value);">{{chapter1.name}}</a>
	                    </li>
	                </ul>
	            </li>
	        </ANY>
		</ul>
        <div class="x-placeholder"></div>
    </div>
</div>

<div class="x-center">
    <div>

    </div>
    <div style="width: 100%; position: relative;" class="x-content" id="jsonTip">

        <h4 class="yue">Morning Jesus</h4>
        <div class="windows"><span>Morning Jesus</span></div>
        <hr>
        <div class="x-wiki-content">
        	<p><img  width="605" height="454" alt="Jesus Loves You" src="pic/o_jesus_loves_you_overlooking_the_cit.jpg"></p>
            <p>Good morning Father!</p>
            <p>How are you today?</p>
            <p>Thank you God for all my blessings.</p>
            <p>Help me to be a blessing today.</p>
            <p>And hear your voice.</p>
            <p>I need you.</p>
            <p>I love you.</p>
        </div>
    </div>

</div>
</div>
</div>

<div class="uk-grid">
    <div class="x-body-after uk-width-1-1">

    </div>
</div>
</div>
</div>
<div class="uk-offcanvas" id="x-offcanvas-left" aria-hidden="true">
    <div class="uk-offcanvas-bar">
        <div class="uk-panel">

                    <ul class="uk-nav uk-nav-side">
            <li class="uk-nav-header">旧约(Old Testament)</li>
        </ul>
        
        <ul style="margin-right:-15px;" class="uk-nav uk-nav-side">
	        <ANY ng-repeat="book2 in oldTestament" >
	            <li id="{{book2.id}}" class="button">
	                <a href="javascript:void(0);">{{book2.name}}</a>
	            </li>
	            <li class="dropdown">
	                <ul>
	                    <li  ng-repeat="chapter2 in book2.chapters" style="margin-left:1em;" id="{{chapter2.value}}"  >
	                        <a href="javascript:void(0);"  ng-click="retrieve(chapter2.value);">{{chapter2.name}}</a>
	                    </li>
	                </ul>
	            </li>
	        </ANY>
		</ul>
		
        <ul class="uk-nav uk-nav-side">
            <li class="uk-nav-header">新约(New Testament)</li>
        </ul>
        <ul style="margin-right:-15px;" class="uk-nav uk-nav-side">
	        <ANY ng-repeat="book3 in newTestament" >
	            <li id="{{book3.id}}" class="button">
	                <a href="javascript:void(0);">{{book3.name}}</a>
	            </li>
	            <li class="dropdown">
	                <ul>
	                    <li  ng-repeat="chapter3 in book3.chapters" style="margin-left:1em;" id="{{chapter3.value}}"  >
	                        <a href="javascript:void(0);"  ng-click="retrieve(chapter3.value);">{{chapter3.name}}</a>
	                    </li>
	                </ul>
	            </li>
	        </ANY>
		</ul>
		
            <div class="x-placeholder"></div>
        </div>
    </div>
</div>
<iframe id="google_osd_static_frame_5568594135646" name="google_osd_static_frame" style="display: none; width: 0px; height: 0px;"></iframe>
<div id="YOUDAO_SELECTOR_WRAPPER" style="display:none; margin:0; border:0; padding:0; width:320px; height:240px;"></div>
<script type="text/javascript" src="http://fanyi.youdao.com/openapi.do?keyfrom=kjvbaoguoding&key=1425964518&type=selector&version=1.2&translate=on" charset="utf-8"></script>
</body>

<script>
    angular.module('app',[]).controller('ctrl',['$scope','$http', '$timeout',function($scope,$http,$timeout){
        $http.get("data/old_testament.json").success(function(response){
            $scope.oldTestament=response.books;
            $timeout(function(){
                $.easing.def = "easeOutBounce";

                /* Binding a click event handler to the links: */
                $('li.button a').click(function(e){
                     /* Finding the drop down list that corresponds to the current section: */
                     var dropDown = $(this).parent().next();

                     /* Closing all other drop down sections, except the current one */
                     $('.dropdown').not(dropDown).slideUp('slow');
                     dropDown.slideToggle('slow');

                     /* Preventing the default event (which would be to navigate the browser to the link's address) */
                     e.preventDefault();
                });
			},500);
        });
        
        $http.get("data/new_testament.json").success(function(response){
            $scope.newTestament=response.books;
        });

        $scope.retrieve=function(id) {
            var filePath = 'data/' + id + '.json';

            $.getJSON(filePath,function(data){
                var $jsontip = $("#jsonTip");
                var strHtml = "";//存储数据的变量
                $jsontip.empty();//清空内容

                strHtml += "<h4 class='yue'>"+data.title+"</h4>";
                strHtml += "<p class='windows'>"+data.subTitle+"</p>";
                strHtml += "<hr>";
                strHtml += "<div class='x-wiki-content'>";

                $.each(data.lineList,function(infoIndex,info){

                    strHtml += "<p class='yue'>";
                    strHtml = strHtml +"["+ info["lineNo"]+"]";
                    strHtml += "<br/>";
                    strHtml = strHtml + info["en"];
                    //strHtml += "</p>";
                    
                    strHtml = strHtml +"<br/>";
                    
                    //strHtml += "<p class='yue'>";
                    strHtml = strHtml + info["cn"];
                    strHtml += "</p>";
                    
                })

                strHtml += "</div>";

                $jsontip.html(strHtml);//显示处理后的数据
            })
        }

    }]);

</script>
</html>
